<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/demo.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,400" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    <div class="site-container" align="center">
        <div class="menu">
            <div class="menu-cell"><a href="#">About</a></div>
            <div class="menu-cell"><a href="#">Works</a></div>
            <div class="menu-cell"><a href="#">Contact</a></div>

        </div>

<div class="page-container">
        <div class="section section-profile">
            <div class="profile-edito">
                <div class="profile-name">
                    Kiefer Wiessler
                </div>
                <div class="profile-jobs">
                    Web & iOS
                </div>
                <div class="profile-skill">
                    developer
                </div>

            </div>

        </div>
        <div class="contact-band">
            <i class="fas fa-phone"></i>
            <i class="fas fa-envelope"></i>
            <i class="fab fa-weixin"></i>
            <i class="fab fa-linkedin"></i>
        </div>
        <div class="section section-resume">
            <div class="resume-pannel left-pannel">
                <h1>About Me</h1>
                <div class="resume-bio">
                    Born and Raised at Lyon (france), I'm now living in Paris. I started to study Business & Economy, but it wasn't matching with my scientific background, so I decided to refocus my studies with something more creative. I integrated 42 School (Xavier Niel's Informatic School) late 2014.
                    There I learned Informatic Programation and Computer Sciences.
                    <br />
                    <br />
                    I'm passionated by new technolies and software engeeniring, I love to solve problems with a different way of thinking. Creation and inovation are for me a serious way of motivation.
                </div>
            </div>
            <div class="resume-pannel right-pannel">
                <h1>Skills</h1>
                <div class="skill-list">
                    <div class="skill-domain">
                        Web
                    </div>
                    <div class="skill-item">Node.js</div>
                    <div class="skill-item">Express.js</div>
                    <div class="skill-item">React.js</div>
                    <div class="skill-item">REST API</div>
                    <div class="skill-item">Npm / Yarn</div>
                    <div class="skill-item">SQL</div>
                    <div class="skill-item">PHP</div>
                    <div class="skill-item">Webpack</div>
                    <div class="skill-item">SCSS / SASS</div>
                    <div class="skill-item">JavaScript ES6</div>
                    <div class="skill-item">jQuery</div>
                    <div class="skill-item">HTML 5</div>
                    <div class="skill-item">CSS 3</div>
                </div>
                <div class="skill-list">
                    <div class="skill-domain">
                        iOS
                    </div>
                    <div class="skill-item">Swift 4.1</div>
                    <div class="skill-item">Objective C</div>
                    <div class="skill-item">CocoaPods</div>
                    <div class="skill-item">Xcode 9</div>
                    <div class="skill-item">UIKit</div>
                    <div class="skill-item">MapKit</div>
                    <div class="skill-item">SceneKit</div>
                </div>
                <div class="skill-list">
                    <div class="skill-domain">
                        Others
                    </div>
                    <div class="skill-item">C++</div>
                    <div class="skill-item">C</div>
                    <div class="skill-item">Git</div>
                    <div class="skill-item">Bash</div>
                    <div class="skill-item">Photoshop</div>
                    <div class="skill-item">Illustrator</div>

                </div>
            </div>
        </div>
        <div class="section section-timeline">
            <h1>Experiences</h1>
            <div class="timeline-branch"></div>

            <div class="timeline-item">
                <img src="/img/tgb.png" />
            </div>
            <div class="timeline-block block-left">

            </div>


            <div class="timeline-item">
                <img class="timeline-img-fix" src="/img/kartel.png" />
            </div>
            <div class="timeline-block block-right">

            </div>


            <div class="timeline-item">
                <img src="/img/42.png" />
            </div>
            <div class="timeline-block block-left">

            </div>


            <div class="timeline-item">
                <img src="/img/iae.png" />
            </div>
            <div class="timeline-block block-right">

            </div>
        </div>

    </div>
    </div>

</body>
