<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/home.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300" rel="stylesheet">
    <title>Kiefer Wiessler</title>
</head>

<body>
  <div class="qr-code">
    <div class="close"></div>
    <div class="code-container" align="center">
      <img class="code-title" src="/img/wechat.svg" />
      <img class="code-source" src="/img/qrcode.jpeg">
    </div>
  </div>
    <div class="site-container" align="center">
        <div class="menu">
            <img id="logo" src="https://kieferwiessler.com/img/zd.png" />
            <div class="menu-cell about"><a href="#">About</a></div>
            <div class="menu-cell works"><a href="#">Works</a></div>
            <div class="menu-cell contact"><a href="#">Contact</a></div>
        </div>
        <div class="header">
            <div class="profile-edito">
                <div class="profile-name">
                    Kiefer Wiessler
                </div>
                <div class="profile-jobs">
                    Web & iOS
                </div>
                <div class="profile-skill">
                    developer
                </div>
                <div class="profile-formation">
                    Student
                    <a href="http://42.fr" target="_blank">
                        <img src="/img/42.png" />
                    </a>
                </div>

            </div>

        </div>

<div class="page-container">

        <div class="contact-band">
            <a href="tel:+33 643073121" target="_blank">
                <i class="fas fa-phone"></i>
            </a>
            <a href="mailto:wiesslerkiefer@gmail.com">
                <i class="fas fa-envelope"></i>
            </a>
            <a href="#" >
                <i class="fab fa-weixin"></i>
            </a>
            <a href="https://www.linkedin.com/in/kiefer-wiessler-7b2777101/" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.github.com/kwiessle" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <div class="section section-resume">
            <div class="resume-pannel left-pannel">
                <h1><i class="fas fa-user-tie"></i> About</h1>
                <div class="resume-bio">
                  Born and raised in Lyon, France, I'm currently living in Paris.
                    I started first by studying Business & Economy at Uni, however it wasn't matching with my previous studies (Scientific High school diploma), so I decided to orient myself toward something more creative and in line with my skills. Therefore in late 2014 after a very inspirational trip to Asia I integrated 42 (Xavier Niel's Informatics School). The training is inspired by new modern ways to teach which include peer-to-peer pedagogy and project-based learning. There I have learnt Informatics Programation and Computer Sciences.
                    <br />
                    <br />
                  I'm passionate with new technologies and software engineering. I love solving problems with a different way of thinking. Creation and innovation are what motivate me.
                </div>
            </div>
            <div class="resume-pannel right-pannel">
                <h1><i class="fas fa-plug"></i> Skills</h1>
                <div class="skill-list">
                    <div class="skill-domain">
                        <i class="fas fa-globe"></i> Web
                        <div class="domain-duration">
                            / 2 y
                        </div>
                    </div>
                    <div class="skill-item">Node.js</div>
                    <div class="skill-item">Express.js</div>
                    <div class="skill-item">React.js</div>
                    <div class="skill-item">REST API</div>
                    <div class="skill-item">Npm / Yarn</div>
                    <div class="skill-item">SQL</div>
                    <div class="skill-item">PHP</div>
                    <div class="skill-item">Webpack</div>
                    <div class="skill-item">JavaScript ES6</div>
                    <div class="skill-item">jQuery</div>
                    <div class="skill-item">HTML 5</div>
                    <div class="skill-item">SCSS / SASS</div>
                    <div class="skill-item">CSS 3</div>
                </div>
                <div class="skill-list">
                    <div class="skill-domain">
                        <i class="fab fa-apple"></i> iOS
                        <div class="domain-duration">
                            / 1 y
                        </div>
                    </div>
                    <div class="skill-item">Swift 4.2.1</div>
                    <div class="skill-item">Objective C</div>
                    <div class="skill-item">CocoaPods</div>
                    <div class="skill-item">Xcode 10</div>
                    <div class="skill-item">CoreData</div>
                    <div class="skill-item">UIKit</div>
                    <div class="skill-item">MapKit</div>
                    <div class="skill-item">SceneKit</div>
                </div>
                <div class="skill-list">
                    <div class="skill-domain">
                         <i class="fas fa-briefcase"></i> Others
                         <div class="domain-duration">
                            / +3 y
                         </div>
                    </div>
                    <div class="skill-item">C++</div>
                    <div class="skill-item">C</div>
                    <div class="skill-item">Git</div>
                    <div class="skill-item">Bash</div>
                    <div class="skill-item">UX/UI Design</div>
                    <div class="skill-item">Photoshop</div>
                    <div class="skill-item">Illustrator</div>

                </div>
            </div>
        </div>
        <div class="section section-timeline">
            <h1><i class="fas fa-briefcase"></i> Experiences</h1>

			<div class="timeline-item">
	   		 <img class="img-rect" src="https://kieferwiessler.com/img/zd.png" />
	   	 </div>
	   	 <div class="item-name item-left">
	   		 ZDKit
	   	 </div>
	   	 <div class="item-duration item-left">
	   		 Sep 2018
	   	 </div>
	   	 <div class="item-location item-left">
	   		 Paris, France
	   	 </div>
	   	 <div class="timeline-block block-right">
	   		 <div class="block-header">
	   			 <i class="fas fa-wrench"></i> ZDKit framework
	   		 </div>
	   		 <div class="block-description">
	   		   Creation of an iOS framework available on CocoaPods. This framework simplify the queries between your API and your mobile App. This is an open source project.
	   		 </div>
	   		 <a class="visit" href="/zdkit" target="_blank"><i class="fas fa-eye"></i> look</a>
	   	 </div>

            <div class="timeline-item">
                <img src="/img/tgb.png" />
            </div>
            <div class="item-name item-right">
                The Gentbox
            </div>
            <div class="item-duration item-right">
                Apr 2017 - Sep 2017
            </div>
            <div class="item-location item-right">
                Shanghai, China
            </div>
            <div class="timeline-block block-left">
                <div class="block-header">
                    <i class="fas fa-graduation-cap"></i> Internship
                </div>
                <div class="block-description">
                  Creation from scratch of an e-shop and its own back-office. Respecting Chineese internet laws, including the latest payment options in China such as WeChat Payment or Alipay.
                </div>
                <a class="visit" href="https://thegentbox.com" target="_blank"><i class="fas fa-eye"></i> look</a>
            </div>


            <div class="timeline-item">
                <img class="timeline-img-fix" src="/img/kartel.png" />
            </div>
            <div class="item-name item-left">
                Kartel Bar
            </div>
            <div class="item-duration item-left">
                Jun 2017
            </div>
            <div class="item-location item-left">
                Shanghai, China
            </div>
            <div class="timeline-block block-right">
                <div class="block-header">
                    <i class="fas fa-hands-helping"></i> Freelance
                </div>
                <div class="block-description">
                  Creation of a static informative website for Kartel. The website allows their customers to book a table, an event and get Kartel’s latest news.
                </div>
                <a class="visit" href="http://kartel-shanghai.com" target="_blank"><i class="fas fa-eye"></i> look</a>
            </div>


            <div class="timeline-item">
                <i class="fab fa-apple"></i>
            </div>
            <div class="item-name item-right">
                apple Retail
            </div>

            <div class="item-duration item-right">
                Oct 2015 - Apr 2016
            </div>
            <div class="item-location item-right">
                Paris, France
            </div>
            <div class="timeline-block block-left">
                <div class="block-header">
                    <i class="fas fa-hands-helping"></i> Student Job
                </div>
                <div class="block-description">
                    Ensuring the apointments and repairments with Apple's customers at the Genius Bar. (Apple Store Opéra)
                </div>
            </div>


            <div class="timeline-item">
                <img src="/img/42.png" />
            </div>
            <div class="item-name item-left">
                42
            </div>
            <div class="item-duration item-left">
                Sep 2014 - Today
            </div>
            <div class="item-location item-left">
                Paris, France
            </div>
            <div class="timeline-block block-right">
                <div class="block-header">
                    <i class="fas fa-graduation-cap"></i> Main Studies
                </div>
                <div class="block-description">
                    Passing with success the selection in 2014. Third year student, planned graduation year: 2019.
                </div>
            </div>


            <div class="timeline-item">
                <img src="/img/iae.png" />
            </div>
            <div class="item-name item-right">
                iae Lyon
            </div>
            <div class="item-duration item-right">
                Sep 2011 - Sep 2014
            </div>
            <div class="item-location item-right">
                Lyon, France
            </div>
            <div class="timeline-block block-left">
                <div class="block-header">
                    <i class="fas fa-graduation-cap"></i> Studies
                </div>
                <div class="block-description">
                    Former student.<br />Techniques Quantitatives and Management.<br /> Major in mathematics.
                </div>
            </div>

            <div class="item-last">
                <i class="fas fa-certificate"></i> Graduation
            </div>
        </div>


    </div>
    <div class="section section-contact">
        <h1><i class="fas fa-info-circle"></i> Contact</h1>
        <h2>I'd love to hear from you :)</h2>

        <div class="contact-header">
            <i class="fas fa-envelope"></i> Email
        </div>
        <div class="contact-block">
            <a href="mailto:wiesslerkiefer@gmail.com">wiesslerkiefer@gmail.com</a>
            <br />
            <a href="mailto:kwiessle@student.42.fr">kwiessle@student.42.fr</a>
        </div>

        <div class="contact-header">
            <i class="fas fa-phone"></i> Phone
        </div>
        <div class="contact-block">
            (fr) <a href="tel:+33 6 43 07 31 21">+33 6 43 07 31 21</a>
        </div>

        <a href="/img/CV-Kiefer-Wiessler.pdf" target="_blank"><div class="button">
            <i class="fas fa-arrow-circle-down"></i> Download Resume
        </div></a>
    </div>
    </div>
    <div class="footer">
        Made with <i class="fas fa-heart"></i> by Myself
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//code.jquery.com/mobile/1.5.0-alpha.1/jquery.mobile-1.5.0-alpha.1.min.js"></script>
    <script src="/js/index.js"></script>
</body>
