.section {
    width: 100%;
    height: 700px;
    /* background: #252525; */
    font-size: 15px;
    margin: 0;
}

.section-profile {
    /* background-image: url("http://localhost:9999/img/kiefer.jpg"); */
    background-image: url("http://192.168.1.7:9999/img/kiefer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-bottom: 20px;
}

.profile-edito {
    position: absolute;

    bottom: 50px;
    right: 0;
    left: 0;
    margin: auto;
    height: 100px;
    width: 330px;
    color: #ff6060;
    font-weight: 100;
}

.profile-name {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    color: white;
    padding-bottom: 10px;
}

.profile-jobs {
    color: #696969;
    font-size: 25px;
    font-weight: 200;
    height: 40px;
    text-align: right;
    display: inline-block;
}

.profile-skill {
    border: 1px solid #ff6060;
    width: 74px;
    color: #ff6060;
    border-radius: 3px;
    padding: 3px;
    display: inline-block;
    position: relative;
    left: 8px;
    bottom: 3px;
}

.contact-band {
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.contact-band i {
    background: rgb(34, 34, 34);
    border: 1px solid rgb(34, 34, 34);
    height: 44px;
    line-height: 44px;
    text-align: center;
    width: 44px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
    font-size: 20px;

}

.contact-band i:hover {
    transition-duration: .8s;
    transform: rotate(360deg) scale(1.3);
    background: transparent;
    color: #ff6060;
    border: 1px solid #fff;
}

.section-resume {
    color: white;
    /* min-height: 400px; */
    height: inherit;
    font-size: 0;
    margin-top: 10px;
}

.resume-pannel {
    display: inline-block;
    width: calc(50% - 5px);
    background: #070707;
    vertical-align: top;
    padding-bottom: 50px;
    min-height: 400px;
}

.resume-bio {
    width: 80%;
    text-align: justify;
    font-weight: 300;
    font-size: 17px;
    /* letter-spacing: 1px; */
    color: #7d7d7d;
}

.left-pannel {
    margin-right: 5px;
}

.right-pannel {
    margin-left: 5px;
}

.section-social {
    background: #222222;
    margin-top: 10px;
}

@media only screen and (max-width: 900px) {
    .resume-pannel {
        display: block;
        width: 100%;
        margin: 0;
        height: calc(50% - 10px)
    }
}
