body {
    margin: 0;
    padding: 0;
    background: #121212;
    font-size: 0;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

h1, h4 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #79abc4;
    width: calc(100% - 40px);
    text-align: center;
}


h1 i {
    font-size: 30px;
    position: relative;
    bottom: 4px;
}

h2 {
    font-weight: 200;
}

.fa-hands-helping {
    transform: rotate(30deg);
}

.ui-loader {
    display: none;
}

.menu {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    background: #181818;
    background: rgba(18, 18, 18, 0.95);
    border-bottom: solid 1px #222222;
    text-align: right;
    font-size: 17px;
    font-weight: 200;
    color: white;
    z-index: 666;
    -webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
}

#logo {
    height: 20px;
    float: left;
    position: relative;
    top: 20px;
    left: 20px;
    bottom: 20px;
}

.menu-clean {
    background: none;
    transition-duration: 1s;
}

.menu-cell {
    height: 60px;
    line-height: 60px;
    position: relative;
    display: inline-block;
    margin-right: 30px;

}

.menu-cell a {
    display: block;
    height: 60px;
}

.menu-cell a:before {
    content: "";
    height: 2px;
    position: absolute;
    background: #ff6060;
    bottom: 12px;
    width: 0;
    opacity: 0;
}

.menu-cell a:hover:before {
    transition-duration: .6s;
    width: 100%;
    opacity: 1;
}

.menu-cell a:hover {
    color: #ff6060;
}

.menu-cell:last-child {
    margin-right: 8%;
}


.page-container {
    max-width: 1200px;
}

.footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #acacac;
    width: 100%;
    background: #121212;
    border-top: 1px solid #191919;
    font-size: 15px;
}

.footer i {
    color: #ff6060;
    padding-left: 5px;
    padding-right: 5px;
}

.section {
    width: 100%;
    height: 700px;
    /* background: #252525; */
    font-size: 15px;
    margin: 0;
}

.header {
    background: black;
    background-image: url("https://kieferwiessler.com/img/kiefer.jpg");
    background-size: contain;
    -webkit-backdrop-filter: blur(10px);
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 10px;
    width: 100%;
    height: 600px;
}
