body {
    margin: 0;
    padding: 0;
    background: #000;
    font-size: 0;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}


h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-size: 40px;
    padding-top: 50px;
    padding-left: 40px;
    color: #ff6060;
    width: calc(100% - 40px);
    text-align: left;
}





.menu {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    background: #181818;
    background: rgba(18, 18, 18, 0.9);
    text-align: right;
    font-size: 17px;
    font-weight: 200;
    color: white;
    -webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.25);
}

.menu-cell {
    height: 60px;
    /* width: 100px; */
    line-height: 60px;
    /* background: green; */
    position: relative;
    /* text-align: center; */
    display: inline-block;
    margin-right: 30px;

}

.menu-cell a {
    display: block;
    height: 60px;
    /* width: 100px; */
}

.menu-cell a:before {
    content: "";
    height: 2px;
    position: absolute;
    /* width: 80px; */
    background: #ff6060;
    bottom: 12px;
    width: 0;
    /* left: 10px;
    right: 10px; */
    opacity: 0;
}

.menu-cell a:hover:before {
    transition-duration: .6s;
    width: 100%;
    opacity: 1;
}

.menu-cell a:hover {
    color: #ff6060;
}

.menu-cell:last-child {
    margin-right: 50px;
}


.page-container {
    max-width: 1200px;
}
